svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
footer { position: absolute; bottom: 0; }
.icon-github { color: #222; }
.icon-twitter { color: #55acee; }
.icon-twitch { color: #6441A4; }
a:link, a:visited { color: #b19dd8; }
a:hover, a:active { color: rgb(218, 216, 222); }

input[type="range"] { vertical-align: bottom; }
.target-control { display: inline-block; }

.target-select {
  display: inline-block;
  width: 2em;
}

label.dimension {
  display: inline-block;
  width: 5em;
  text-align: right;
}

.data {
  display: inline-block;
  width: 6em;
}

.data input, .data select {
  width: 8em;
}

.min, .max {
  display: inline-block;
  width: 2em;
}
