input[type="range"] { vertical-align: bottom; }
.target-control { display: inline-block; }

.target-select {
  display: inline-block;
  width: 2em;
}

label.dimension {
  display: inline-block;
  width: 5em;
}

.data {
  display: inline-block;
  width: 8em;
}

.data input, .data select {
  width: 8em;
}

.min, .max {
  display: inline-block;
  width: 2em;
}
